EmpMng/EmpMng/EmpMng/Web References/localhost1/DeleteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteSer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSerResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteSerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSer" />
  </wsdl:message>
  <wsdl:message name="DeleteSerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSerResponse" />
  </wsdl:message>
  <wsdl:portType name="DeleteServiceSoap">
    <wsdl:operation name="DeleteSer">
      <wsdl:input message="tns:DeleteSerSoapIn" />
      <wsdl:output message="tns:DeleteSerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeleteServiceSoap" type="tns:DeleteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteSer">
      <soap:operation soapAction="http://tempuri.org/DeleteSer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeleteServiceSoap12" type="tns:DeleteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteSer">
      <soap12:operation soapAction="http://tempuri.org/DeleteSer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeleteService">
    <wsdl:port name="DeleteServiceSoap" binding="tns:DeleteServiceSoap">
      <soap:address location="https://localhost:44354/DeleteService.asmx" />
    </wsdl:port>
    <wsdl:port name="DeleteServiceSoap12" binding="tns:DeleteServiceSoap12">
      <soap12:address location="https://localhost:44354/DeleteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>